<% if current_user %>
  <div class="page-header">
    <h1>Join the discussion!</h1>
  </div>

  <%= render 'form' %>
  <div class="panel panel-default" id="comments">
    <div class="panel-body">
      <ul class="media-list">
        <%= render @comments %>
      </ul>
    </div>
  </div>
<% else %>
  <%= render 'welcome' %>
<% end %>