@import 'bootstrap';
@import 'bootstrap/theme';

.social {
  background: image-url('logos.png') no-repeat transparent;
  display: inline-block;
  &.twitter {
    width: 50px;
    height: 42px;
    background-position: 0 -52px;
  }

  &.facebook, &.facebook:active {
    width: 50px;
    height: 50px;
    background-position: 0 0;
  }
}

#comments {
  max-height: 500px;
  overflow: auto;
}